{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
<div class="container mt-4">
    <!-- Welcome Banner -->
    <div class="jumbotron">
        <h1 class="display-4">Welcome to Our School!</h1>
        <p class="lead">Educating for tomorrow's world today.</p>
        <hr class="my-4">
        <p>Explore our programs, resources, and community efforts as we build the future one student at a time.</p>
      
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn More</a>
    </div>
    
    <!-- About the School Section -->
    <div class="row mt-4">
        <div class="col-md-12">
            <h2>About Us</h2>
            <p>
                Our school is dedicated to providing top-notch education in a nurturing environment. We offer a range of programs from kindergarten to 12th grade, each designed to challenge our students and prepare them for success in an ever-changing world.
            </p>
            <p>
                With state-of-the-art facilities and a commitment to innovative teaching methods, our school stands as a beacon of learning and development in the community.
            </p>      
        </div>
    </div>
    
</div>
{% endblock %}
