{% extends 'base.html' %}

{% block title %}
    Contracts
{% endblock %}


{% block content %}

<div class="container">
    <!-- Main Menu -->
    <nav class="main-menu">
        <a href="./index.html">Home</a>

          <!-- Search Bar  -->
        <div class="search-holder">
            <form id="search-form" action="" method="get">
                <input type="search" name="s" placeholder="Search for.." id="search-input">
                <button type="submit">Search</button>
            </form>
        </div>
        <!-- Search Bar  -->
        <a href="./addSt.html">Add Student</a>
    </nav>
    <!-- Main Menu -->
</div>

{% endblock %}