<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/teacher.js" defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Grade Checker</title>
</head>
<body>
    <header class="main-header">
        <h1>Grade Checker</h1>
    </header>

    <div class="container">
        <!-- Main Menu -->
        <nav class="main-menu">
            <a href="./index.html">Home</a>

              <!-- Search Bar  -->
            <div class="search-holder">
                <form id="search-form" action="" method="get">
                    <input type="search" name="s" placeholder="Search for.." id="search-input">
                    <button type="submit">Search</button>
                </form>
            </div>
            <!-- Search Bar  -->
            <a href="./addSt.html">Add Student</a>
        </nav>
        <!-- Main Menu -->

        <main></main>
    </div>
</body>
</html>

