{% extends 'base.html' %}

{% block title %}
    Login
{% endblock %}

{% block content %}

     <!-- Background -->
     <div class="bg"></div>
     <div class="bg bg2"></div>
     <div class="bg bg3"></div>
     </div>

<section class="py-5 mt-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow">
                    <div class="card-body card-body-transparent">
                        <h2 class="text-center mb-4">Welcome</h2>
                        <form method="post">
                            {{ form.csrf_token }}
                            {{ form.hidden_tag() }}

                            <div class="form-group">
                                <label for="username">Username</label>
                                {{ form.username(class="form-control", placeholder="Enter your username") }}
                            </div>

                            <div class="form-group">
                                <label for="password">Password</label>
                                {{ form.password(class="form-control", placeholder="Enter your password") }}
                            </div>

                            <div class="form-group form-check">
                                {{ form.remember(class="form-check-input", id="remember_me") }}
                                <label class="form-check-label" for="remember_me">Remember me</label>
                            </div>

                            <button type="submit" class="btn btn-primary btn-block">Login</button>
                        </form>

                        <hr>

                        <p class="text-center mb-0">Don't have an account? <a href="{{ url_for('signup') }}">Sign up</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
