{% extends 'base.html' %}

{% block title %}
    Teacher Dashboard
{% endblock %}


{% block content %}

 <!-- PUT CODE HERE -->
    
 <div class="container mt-4">
    <h2>My Courses</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Course Name</th>
                <th>Teacher</th>
                <th>Time</th>
                <th>Students Enrolled</th>
            </tr>
        </thead>
        <tbody>
            {% for course in courses %}
            <tr>
                <td>{{ course.name }}</td>
                <td>{{current_user.first_name + ' ' + current_user.last_name }}</td>
                <td>{{ course.time }}</td>
                <td>
                    <button class="btn btn-primary view-grades" data-course-id="{{ course.id }}">
                        View {{ course.enrollments|length }}/{{ course.capacity }}
                    </button>
                </td>                
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    <!-- END CODE -->   
{% endblock %}

