{% extends 'base.html' %}

{% block title %}
    Teacher Dashboard
{% endblock %}


{% block content %}

 <!-- PUT CODE HERE -->
    
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Teacher Dashboard</h1>
                <p>Welcome to the teacher dashboard. Here you can view all the courses you are teaching and the students enrolled in each course.</p>
            </div>
        </div>

        <main></main>
    </div>

    <!-- END CODE -->   
{% endblock %}

